.post-categories, .widget_categories {
  ul {
    padding-left: 0;
  }
  list-style-type: none;
  padding-inline-start: 0;
  li {
    display: inline-block;
    margin-right: 10px;
    a {
      border-radius: 25px;
      border: 1px solid $color--purple;
      padding: 5px 10px;
      transition: border-color 0.2s ease;
      &:hover {
        border-color: $color--purple-3;
      }
    }
  }
}

.widget_categories {
  font-family: $sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  ul {
      margin-top: 0;
      @media all and (max-width: $screen-sm-max) {
        margin-top: 10px;
      }
      li {
        @media all and (max-width: $screen-sm-max) {
          margin-top: 10px;
        }
      }
  }

  a {
    text-decoration: none;
  }
  .current-cat {
    a {
      background: $color--purple;
      color: $color--white;
      &:hover {
        border-color: $color--purple;
      }
    }
  }
}
