.footer-brand {
  position: relative;
  width: 70px;
  float: left;
  height: 36px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  margin-right: 10px;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../images/reading-rush-icon--purple.svg);
    background-repeat: no-repeat;
    background-size: 70px,auto;
    background-position: 50%;
  }
  span { display: none; }
}

.site-footer {
  background-color: $color--green;
  padding: 20px 0;
  margin-top: 70px;
  &--brand {
    font-size: 14px;
  }
  &--social {
    a {
      text-decoration: none;
      padding-left: 10px;
    }
  }
}
