input {
  border: 1px solid;
}

.register-section {
  background: $color--grey-2;
  padding: 20px;
  margin: 30px 0;
  width: 70%;
  label, legend {
    font-family: $sans-serif;
    font-weight: 700 !important;
    text-transform: uppercase;
    font-size: 14px !important;
    color: $color--grey-7;
  }
  legend {
    border: none;
  }
}

#profile-details-section {
  #field_3, #field_4 {
    width: 80%;
    float: right;
  }
}

.field-visibility-settings-header {
  display: none;
}

.buddypress-wrap .standard-form input[required]:invalid, .buddypress-wrap .standard-form select[required]:invalid, .buddypress-wrap .standard-form textarea[required]:invalid {
  border-color: $color--purple !important;
}

input {
  border-radius: 3px !important;
  border-color: $color--grey-4 !important;
}

.buddypress-wrap .standard-form input[required] {
  border-width: 1px;
}



.buddypress .buddypress-wrap input[type=submit] {
  border: none;
  background: $color--purple;
  text-transform: uppercase;
  letter-spacing: .4px;
  font-family: $sans-serif;
  font-weight: 700 !important;
  color: $color--white;
  white-space: normal;
  border-radius: 2px;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
  padding: 15px 20px 10px 20px;
  &:hover {
    color: $color--white;
    background-color: $color--purple-3;
    border-color: $color--purple-3;
  }
}

.bbp-topic-form, .bbp-reply-form {
  margin-top: 130px;
  .bbp-form {
    padding: 0 !important;
    border: none !important;
    legend {
      padding: 0 !important;
      border-bottom: none !important;
      font-family: $sans-serif;
      font-weight: 700;
      font-size: 28px;
      line-height: 32px;
    }
    label {
      font-family: $sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 15px;
    }
    .bbp-submit-wrapper {
      float: none;
      .button {
        background-color: $color--purple;
        font-family: $sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        color: $color--white;
        transition: background-color 0.3s ease;
        border: 1px solid $color--purple !important;
        border-radius: 3px;
        &:hover {
          background-color: $color--purple-3;
        }
      }
    }
  }
}
