.bp-dir-search-form, .filter {
  border-radius: 4px;
  border: 1px solid $color--grey-4 !important;
  box-shadow: none;
  button {
    color: $color--purple !important;
  }
}

.select-wrap {
  .select-arrow {
    font-family: dashicons;
    &:before {
      content: "\f347" !important;
    }
  }
}

.buddypress-wrap .select-wrap {
  border: none !important;
}

.members-list {
  .list-wrap {
    min-height: initial !important;
    padding-bottom: 20px !important;
    background: $color--blue-6 !important;
    border-color: $color--blue !important;
    .member-name {
      margin-top: 25px !important;
      margin-bottom: 0 !important;
      a {
        color: $color--black;
      }
    }
    .item-block {
      min-height: initial !important;
    }
  }
  .list-title {
    padding: 0 !important;
  }
  .last-activity {
    margin-top: 0 !important;
  }
}

.dir-list {
  .bp-pagination .top {
    padding-top: 20px;
  }
}
