.entry-meta {
  font-family: $sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  color: $color--grey-5;
  a {
    text-decoration: none;
  }
  &--top {
    display: flex;
    justify-content: space-between;
  }
  &--author {
    margin-bottom: 20px;
  }
}

.post {
  .entry-content {
    margin-top: 30px;
  }
}

.breadcrumb {
  a {
    color: $color--grey-5;
    text-decoration: none;
    &:hover {
      color: $color--purple;
    }
  }
}

.newsfeed--posts {
  .col-md-4 {
    margin: 15px 0;
  }
}

.pagination {
  text-align: center;
  font-family: $sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 20px;
  a {
    text-decoration: none;
  }
  .page-numbers {
    padding: 0 5px;
  }
  .next, .prev {
    font-size: 14px;
  }
}

.color-box__newsfeed {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .post-categories {
    font-size: 11px;
    margin-top: 0;
    text-align: right;
    li {
      margin: 0 0 0 5px;
    }
    li a {
      padding: 2px 8px;
    }
  }
  .entry-title {
    a {
      text-decoration: none;
      color: $color--black;
      &:hover {
        color: $color--purple;
      }
    }
  }
  .btn {
    width: 100%;
    align-self: flex-end;
  }
  .thumbnail {
    width: 100%;
    max-height: 200px;
    overflow: hidden;
    margin-bottom: 20px;
    border-radius: 2px;
    img {
      width: 100%;
      height: auto;
    }
  }
}

.widget_search {
  font-size: 16px;
  .search-field {
      font-weight: normal !important;
  }
  .screen-reader-text {
    display: none;
  }
  .search-submit {
    line-height: 29px;
  }
}

.widget-area {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 40px 0;
  @media all and (max-width: $screen-sm-max) {
    flex-direction: column;
  }
}
