$color--black:    #211A1D;
$color--grey-7:   #494346;
$color--grey-6:   #716D6F;
$color--grey-5:   #9A9698;
$color--grey-4:   #C2C0C1;
$color--grey-3:   #EAEAEA;
$color--grey-2:   #F0EDEE;
$color--grey-1:   #F8F6F7;
$color--white:    #FDFDFD;

$color--text:     $color--grey-7;
$color--heading:  $color--black;

$color--purple:   #8E4AC9;
$color--purple-2: #B78BDC;
$color--blue:     #6DEBFF;
$color--green:    #76E7CD;
