@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:700|PT+Serif:400,400i,700,700i&display=swap');

// BASE
@import "base/colors";
@import "bootstrap/variables";
@import "base/overrides";
@import "base/typography";
@import "base/buttons";
@import "base/flex";
@import "bootstrap/bootstrap";
@import "base/spacing.scss";



//COMPONENTS
@import "components/nav";
@import "components/footer";
@import "components/video";
@import "components/forms";
@import "components/feedback";
@import "components/activity-stream";


//PAGE THEMES
.body {
  background-color: $color--white;
}

@import "themes/profile";


.page-template-page--home {
  background: $color--blue-6;
  background-image: url(../images/background-swoop.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 40px;
  @import "themes/home"; }

.login {
  background: $color--blue-6;
  @import "themes/login";
}
