// BASE
@import "base/colors";
@import "bootstrap/variables";
@import "base/overrides";
@import "base/typography";
@import "base/buttons";
@import "base/flex";
@import "bootstrap/bootstrap";
@import "base/spacing";
@import "base/images";



//COMPONENTS
@import "components/nav";
@import "components/footer";
@import "components/video";
@import "components/forms";
@import "components/feedback";
@import "components/activity-stream";
@import "components/members";
@import "components/post-navigation";
@import "components/friends";
@import "components/boxes";


//PAGE THEMES
.body {
  background-color: $color--white;
}

@import "themes/profile";


.page-template-page--home {
  background: $color--blue-6;
  background-image: url(../images/background-swoop.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 40px;
  @import "themes/home";
  @media all and (max-width: $screen-md) {
    background-position-y: 100px;
  }
}

.login {
  background: $color--blue-6;
  @import "themes/login";
}

@import "themes/forums";
@import "themes/newsfeed";
